
.form-container{
    background-color: #0058abd3;
    width: 100%;
    margin: auto;
    position: fixed;
  width: 100%;
  height: 100vh;

}
.add-item-button-container{
display: flex;
justify-content: center;
margin-top: 3rem;
}
.new-item-container{
display: flex;
flex-direction: column;
justify-content: space-evenly;
max-width: 260px;

background-color: #FFFF;
padding: 3rem;
border-radius: 5px;
margin: 6rem auto;



}
.new-item-content{
    margin: 0 1rem;

}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #0058AB;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 5;
  }
  .closeAdd{
      position: fixed;
      top: 0.6rem;
      right: 0.6rem;
      background-color: transparent;
      cursor: pointer;
      border: none;
      font-size: 1.5rem;
  }

  @media screen and (max-width:600px) {
    .new-item-container{
        flex-direction: column;
    }
  }