.item{
    width: 100%;
}
.item-bag{
    display: grid;
    grid-template-columns: 2rem 4rem 1fr 5rem;
    align-items: center;
    padding: 2.5rem 0;
}
.App .item:nth-last-of-type(n+2){
 
    border-bottom: 1px solid #c4c4c4;
}
.checkbox {
    height: 1.3rem;
  }